<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="project.Properties.Settings.AirLineReservationSystemComboBoxValues"
            connectionString="Data Source=WALEED-PC\SQLEXPRESS;Initial Catalog=AirLineReservationSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="project.Properties.Settings.AirLineReservationSystemConnectionString"
            connectionString="Data Source=DESKTOP-T41SL57\SQLEXPRESS;Initial Catalog=AirLineReservationSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>